<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>href</key>
		<string>https://movie.douban.com/subject/25980443/</string>
		<key>imageUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/ipst/public/p2421855655.jpg</string>
		<key>name</key>
		<string>海边的曼彻斯特</string>
		<key>text</key>
		<string>2016-09-08(多伦多电影节) / 2016-11-18(美国) / 卡西·阿弗莱克 / 卢卡斯·赫奇斯 / 米歇尔·威廉姆斯 / C·J·威尔逊 / 凯尔·钱德勒 / 卡拉·海沃德 / 格瑞辰·摩尔 / 泰特·多诺万 / 埃里卡·麦克德莫特 / 希瑟·伯恩斯 / 蜜西·雅格 / 斯蒂芬·亨德森...</string>
	</dict>
	<dict>
		<key>href</key>
		<string>https://movie.douban.com/subject/24751763/</string>
		<key>imageUrl</key>
		<string>https://img1.doubanio.com/view/movie_poster_cover/ipst/public/p2404553168.jpg</string>
		<key>name</key>
		<string>罗曼蒂克消亡史</string>
		<key>text</key>
		<string>2016-12-16(中国大陆) / 葛优 / 章子怡 / 浅野忠信 / 杜淳 / 钟欣潼 / 倪大红 / 赵宝刚 / 袁泉 / 闫妮 / 韩庚 / 霍思燕 / 杜江 / 王传君 / 钟汉良 / 马晓伟 / 吕行 / 乔笑笑 / 刘天阳 / 赵海涛 / 叶禾 / 周敬峰 / 杨露璐 / 松峰莉璃 / 松浦敬之 / 平田康之...</string>
	</dict>
	<dict>
		<key>href</key>
		<string>https://movie.douban.com/subject/26648249/</string>
		<key>imageUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/ipst/public/p2373594741.jpg</string>
		<key>name</key>
		<string>月光男孩</string>
		<key>text</key>
		<string>2016-09-02(特柳赖德电影节) / 2016-09-10(多伦多电影节) / 2016-10-21(美国) / 崔凡特·罗兹 / 安德烈·霍兰 / 马赫沙拉·阿里 / 娜奥米·哈里斯 / 加奈儿·梦奈 / 艾什顿·桑德斯 / 贾雷尔·杰罗姆 / 艾利克斯·希伯特 / 杰登·派纳 / 段·桑德森 /...</string>
	</dict>
	<dict>
		<key>href</key>
		<string>https://movie.douban.com/subject/26679552/</string>
		<key>imageUrl</key>
		<string>https://img1.doubanio.com/view/movie_poster_cover/ipst/public/p2378401788.jpg</string>
		<key>name</key>
		<string>推销员</string>
		<key>text</key>
		<string>2016-05-21(戛纳电影节) / 2016-08-17(法国) / 沙哈布·侯赛尼 / 塔兰涅·阿里多斯蒂 / 巴巴克·卡里米 / 法里德·萨贾蒂·侯赛尼 / 米娜·沙达蒂 / 伊朗 / 法国 / 阿斯哈·法哈蒂 / 125分钟 / 推销员 / 剧情 / 阿斯哈·法哈蒂 Asghar Farhadi / 波斯语...</string>
	</dict>
	<dict>
		<key>href</key>
		<string>https://movie.douban.com/subject/25978126/</string>
		<key>imageUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/ipst/public/p2402069220.jpg</string>
		<key>name</key>
		<string>间谍同盟</string>
		<key>text</key>
		<string>2016-11-23(美国) / 2016-11-30(中国大陆) / 布拉德·皮特 / 玛丽昂·歌迪亚 / 马修·古迪 / 丽兹·卡潘 / 夏洛特·霍普 / 拉菲·卡西迪 / 杰瑞德·哈里斯 / 克里斯蒂安·鲁贝克 / 丹尼尔·贝茨 / 安格斯·肯尼迪 / 贾森·马修森 / 大卫·邦纳维尔...</string>
	</dict>
	<dict>
		<key>href</key>
		<string>https://movie.douban.com/subject/21324900/</string>
		<key>imageUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/ipst/public/p2411622421.jpg</string>
		<key>name</key>
		<string>降临</string>
		<key>text</key>
		<string>2016-09-01(威尼斯电影节) / 2016-11-11(美国) / 2017-01-20(中国大陆) / 艾米·亚当斯 / 杰瑞米·雷纳 / 福里斯特·惠特克 / 迈克尔·斯图巴 / 马志 / 马克·奥布莱恩 / 乔·柯布登  / 派特·凯利 / 娜塔莉·希波蒂 / 袁罗素 / 克里斯蒂安· 杰达 / 朱利安·凯西...</string>
	</dict>
	<dict>
		<key>href</key>
		<string>https://movie.douban.com/subject/25793398/</string>
		<key>imageUrl</key>
		<string>https://img1.doubanio.com/view/movie_poster_cover/ipst/public/p2397960879.jpg</string>
		<key>name</key>
		<string>海洋奇缘</string>
		<key>text</key>
		<string>2016-11-23(美国) / 2016-11-25(中国大陆) / 奥丽伊·卡瓦洛 / 道恩·强森 / 艾伦·图代克 / 杰梅奈·克莱门特 / 尼可·斯彻金格 / 特穆拉·莫里森 / 瑞切尔·豪斯 / 奥斯卡·凯特利 / 特洛伊·波拉马鲁 / 美国 / 罗恩·克莱蒙兹 / 约翰·马斯克 /...</string>
	</dict>
	<dict>
		<key>href</key>
		<string>https://movie.douban.com/subject/26325320/</string>
		<key>imageUrl</key>
		<string>https://img1.doubanio.com/view/movie_poster_cover/ipst/public/p2397337958.jpg</string>
		<key>name</key>
		<string>血战钢锯岭</string>
		<key>text</key>
		<string>2016-11-04(美国) / 2016-12-08(中国大陆) / 安德鲁·加菲尔德 / 萨姆·沃辛顿 / 文斯·沃恩 / 雨果·维文 / 卢克·布雷西 / 泰莉莎·帕尔墨 / 瑞切尔·格里菲斯 / 纳撒尼尔·布佐尼克 / 理查德·劳斯伯格 / 马特·纳夫莱 / 费拉斯·迪拉尼 / 瑞安·柯尔...</string>
	</dict>
	<dict>
		<key>href</key>
		<string>https://movie.douban.com/subject/26220650/</string>
		<key>imageUrl</key>
		<string>https://img1.doubanio.com/view/movie_poster_cover/ipst/public/p2333848819.jpg</string>
		<key>name</key>
		<string>雄狮</string>
		<key>text</key>
		<string>2016-09-10(多伦多电影节) / 2017-01-19(澳大利亚) / 2017-03(中国大陆) / 戴夫·帕特尔 / 妮可·基德曼 / 鲁妮·玛拉 / 大卫·文翰 / 纳瓦祖丁·席迪圭 / 坦妮什塔·恰特洁 / 迪普提·纳瓦尔 / 马尼克·古纳拉塔尼 / 本杰明·里格比 / 萨罗·布赖尔利...</string>
	</dict>
	<dict>
		<key>href</key>
		<string>https://movie.douban.com/subject/25726614/</string>
		<key>imageUrl</key>
		<string>https://img3.doubanio.com/view/movie_poster_cover/ipst/public/p2392444121.jpg</string>
		<key>name</key>
		<string>神奇动物在哪里</string>
		<key>text</key>
		<string>2016-11-25(中国大陆) / 2016-11-18(美国/英国) / 埃迪·雷德梅恩 / 凯瑟琳·沃特斯顿 / 丹·福勒 / 艾莉森·萨多尔 / 科林·法瑞尔 / 埃兹拉·米勒 / 朗·普尔曼 / 强·沃特 / 萨曼莎·莫顿 / 嘉玛·陈 / 卡门·艾乔戈 / 克里斯汀·马扎诺 / 詹·穆瑞...</string>
	</dict>
</array>
</plist>
